@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/boxicons/css/boxicons.min.css');
@import url('../styles/fonts.css');

.header {
    background-color: #1a041a53;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    margin-bottom: 0 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(50px);
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #1a041a;
    color: #fff;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #ffffff96;
}
.logo-text {
    text-decoration: none;
    color: #ff615a;
}

.custom-search-bar {
    height: 35px;
    background-color: transparent;
    border-color: #ff625a71;
}

.custom-search-bar:focus {
    outline: none;
    box-shadow: none;
    border-color: #ff625a71;
    background-color: transparent;
    color: #ffffff;
}

.prf-icon{
    color: #ff625ac9;
}

ul {
    list-style: none;
    padding: 0;
}

::placeholder {
    color: #999 !important;
    opacity: 1;
}

.col_red{
    text-decoration: none;
    color: #ff625a;

}


